/* Basisopmaak voor de hele pagina */
body {
    font-family: Verdana, sans-serif;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
    text-align: center;
}

/* Stijl voor de hoofding */
h1 {
    font-variant: small-caps;
    background-color: red;
    padding: 10px;
}

/* Hover-effect voor hyperlinks */
a:hover {
    border: 1px solid darkblue;
    padding: 2px;
    background-color: lightyellow;
    border-radius: 3px;
}

/* Klasse met gestippelde rand */
.stippeltjesrand {
    border: 1px dotted darkblue;
    padding: 5px;
}

.myUl{
        display: inline-block;
        text-align: left;
}
