main {
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}
.block {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
}
.block1 { background: #b63a6b; }
.block2 { background: #6f6ea5; }
.block3 { background: #7f92c7; }
.block4 { background: #a9d7dd; }
.block1 {
    grid-column-start: 1;
    grid-row-start: 2;
}
.block2 {
    grid-column-start: 1;
    grid-row-start: 1;
}
.block3 {
    grid-column-start: 1;
    grid-row-start: 3;
}
.block4 {
    grid-column-start: 1;
    grid-row-start: 4;
}
@media (min-width: 772px) {
    main {
        grid-template-rows: repeat(4, auto);
    }
    .block1 {
        grid-row-start: 1;
    }
    .block3 {
        grid-row-start: 2;
    }
    .block2 {
        grid-row-start: 3;
    }
    .block4 {
        grid-row-start: 4;
    }
}
@media (min-width: 992px) {
    main {
        grid-template-rows: repeat(4, auto);
    }
    .block1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
    }
    .block2 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
    }
    .block3 {
        grid-column-start: 1;
        grid-row-start: 3;
    }
    .block4 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
    }
}
