.container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: cornflowerblue;
}

.container .block{
    margin:50px;
    padding:50px;
    background-color: white;
}