body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

a.icon-link {
    display: inline-block;
    background-image: url('../images/hyperlink.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
    padding-left: 18px;
    color: #0066cc;
    text-decoration: none;
}

a.icon-link:hover {
    color: #003366;
    text-decoration: underline;
}
