body {
    font-family: Arial, sans-serif;
    margin: 30px;
}


ul.checklist {
    list-style: none;
    padding: 0;
}

ul.checklist li {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px 18px;
    padding-left: 28px;
    margin-bottom: 6px;
}


ul.checklist li {
    background-image: url('../images/unchecked.png');
}

ul.checklist li.checked {
    background-image: url('../images/checked.png');
}


