body{
    margin: 0 auto;
    font-size: 0;
}

section{
    font-size: 14px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
    box-sizing: border-box;
    border: black solid 1px;
    width: 50%;
}

