/* Algemene stijl */
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

/* Header */
header {
    background-color: #2B2D42;
    color: #8D99AE;
    padding: 30px;
    margin-bottom: 10px;
}

header h1,
header h2 {
    color: #EDF2F4;
}

header h1 {
    font-size: 80px;
    margin: 0;
}

header h2 {
    font-size: 40px;
    margin-top: 10px;
}

/* Links */
a {
    color: #EF233C;
    text-decoration: none;
}

/* Education sectie */
.education {
    background-color: #8D99AE;
    padding: 30px;
    color: #2B2D42;
}

/* Footer */
footer {
    background-color: #2B2D42;
    color: #8D99AE;
    padding: 30px;
    margin-top: 10px;
}

/* Optioneel: wat ruimte tussen footer-links */
footer a {
    display: inline-block;
    margin-right: 10px;
    color: #EF233C;
}
