html {
    background-color: #333;
    font-family: Helvetica;
}

* {
    padding: 10px;
}
body {
    margin: 5px;
    background-color: white;

}

header{
    background-color: #ddaa00;
    color: white;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #ccc;
    padding: 5px 2px;
}
nav a{
    color: #ddaa00;
    border: 1px solid black;
    margin: 0 5px;
    background-color: white;
    padding: 15px 100px;
}

h1{
    margin: 0;
}

main{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div{
    background-color: white;
}
section{
    margin: 5px;
}

section a{
    border: 1px #333;
}

img{
    padding: 0;

}
footer{
    text-align: center;
    background-color: #ddaa00;
    color: white;
    border-top: 15px solid black;
}

footer p{
    font-size: 1em;
}

@media screen and (min-width: 700px){
    main{
        flex-direction: row;
        justify-content: center;


    }

    div{
        margin: 10px;
    }
}


