h1{
    font-family: arial, sans-serif;
    font-size: 1.8em;

}

h2{
    font-family: arial, sans-serif;
    font-size: 1.5em;
}

h3{
    font-family: arial, sans-serif;
    font-size: 1.4em;
}

p{
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
}

.rood{
    color: red;
}

.groen{
    color: green;
}

.blauw{
    color: blue;
}